.form-group {
  // border: 1px solid red;
  margin-bottom: $s-size;
  label {
    display: block;
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
    color: $txt-color;
  }
  .form-group__qr-label {
    text-align: left;
  }
}

.text-input {
  padding: $xs-size;
  width: 100%;
  display: block;
  border-radius: 3px;
  border: 1px solid #ccc;
  &:focus {
    border-color: $focused-input;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
    outline: none;
  }
}

.text-input--error {
  border-color: $error-color;
}

.form-credentials-error {
  color: red;
  text-align: center;
}

.text-input--feedback {
  color: $error-color;
  font-size: 1.3rem;
}

.text-input__QR {
  text-align: center;
}

.form-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: $s-size;
  text-align: center;
}

.form-qr {
  text-align: center;
  margin-left: $m-size;
  img {
    border-radius: 3px;
    padding: $m-size;
    background: white;
  }
}

.form-button-reset {
  float: right;
}