// Colors
$bg-color: #fff;
$txt-color: #2f3640;
$main-color: #26de81;
$error-color: #e84118;
$focused-input: #34ace0;


// Spacing
$xs-size: 0.5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;