// Colors
$bg-color: #dfe6e9;
$txt-color: #2f3640;
$main-color: #26de81;
$warning-color: #f1c40f;
$error-color: #ff5252;
$focused-input: #34ace0;
$header-color: #353b48;
$subheader-color: #718093;
// Spacing
$xs-size: 0.5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$mobile-breakpoint: 35rem;